.bg-svg {
    width: 100%;
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/91525/potofgold.svg);
    background-size: cover;
    height: 0;
    padding: 0; /* reset */
    padding-bottom: 92%;
    border: thin dotted darkgrey;
  }
  figure > div {
    margin: 1em auto;
  }